* {
    margin: 0px;
}

body {
    background-color: rgb(241, 207, 92);
}

header h1 {
    text-align: center;
}

#container {
    display: flex;
    gap: 20px;
}

#cadastrar {
    background-color: rgb(228, 192, 242);
    flex-grow: 1;
}

#cadastrar header {
    text-align: center;
}

#listar{
    background-color: rgb(151, 213, 237);
    flex-grow: 5;
}

/* #container section { */

    /* display: flex;
    flex-direction: column;
    align-items: center;*/
    /* width: 50vw; */
/* } */

#formulario {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: end; */
}


label {
    display: inline-block;
    width: 90px;
}

.linha{
    display: flex;
    gap: 50px;
}